__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
*.log
.git
.gitignore
.mypy_cache
.pytest_cache
*.csv
*.html
locust_stats*
locust_report*